{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>about page</h1>
                <p>wat tekst</p>
                <p>
                    THis came from teh teplate: {{index .StringMap "test"}}
                </p>

                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        your remote IP adress is {{index .StringMap "remote_ip"}}
                    {{else}}
                        I don't know your IP adress yes. visit <a href="/">Home Page</a> So i can set the ip adress
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}